<nb-card size="small" class="noti_list_header10">
    <nb-card-header class="noti_list_nb_card_header10"> 
      <p class="noti_list_p01">NOTIFICATION PREVIEW</p>      
    </nb-card-header>     
    <nb-card-body style="overflow: hidden;">
      <div>
        <img src="../../../assets/images/phone.png" alt=""> 
      </div>     
    </nb-card-body>
</nb-card>
<nb-card size="medium" class="headings-card noti_list_height10">
  <nb-card-header class="noti_list_nb_card_header20">
    <p class="noti_list_p20">NOTIFICATIONS LIST</p>    
  </nb-card-header>
  <nb-card-body>
          <div  *ngFor="let noti of noti_List"  class="noti_list_nb_body10">
            <a  (click)="onEdit(noti)" class="noti_list_nb_bod_a10">
                <div  class="noti_list_title noti_list_nb_bod_div10">
                    <p class="noti_list_nb_bod_p10">{{noti.title}}</p>
                    <span class="noti_list_nb_bod_span">{{noti.body}}</span>
                </div>
            </a>
            <a class="btn noti_list_nb_bod_a20" (click)="onDelete(noti.noti_ID)" >
                <i class="fa fa-trash-o"></i>
            </a>
          </div> 

  </nb-card-body>
</nb-card>