<nb-card size="small" style="margin-bottom: 0;text-align: center;">
    <nb-card-header style="color: white;background: #4aa3df;"> NOTIFICATION PREVIEW       
    </nb-card-header>     
    <nb-card-body style="overflow: hidden;">
      <div>
        <img src="../../../assets/images/phone.png" alt=""> 
      </div>     
    </nb-card-body>
</nb-card>
<nb-card size="medium" class="headings-card">
  <nb-card-header>
        NOTIFICATIONS LIST        
  </nb-card-header>
  <nb-card-body>
      <div class="header">
        <div style="    border: 2px solid #dadfe6;
        padding: 1em;   border-radius: 0.375rem;
        margin-bottom: 1em;">
          <h5 style="font-size:1.2em;">Title</h5>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
        </div>
      </div>
      <div class="header">
          <div style="  border: 2px solid #dadfe6;
          padding: 1em;    border-radius: 0.375rem;
          margin-bottom: 1em; ">
            <h5 style="font-size:1.2em;">Title</h5>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
          </div>
        </div>
        <div class="header">
            <div style="    border: 2px solid #dadfe6;
            padding: 1em;   border-radius: 0.375rem;
            margin-bottom: 1em;">
              <h5 style="font-size:1.2em;">Title</h5>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span>
            </div>
          </div>
      
      
  </nb-card-body>
</nb-card>