<nb-card size="small" style="margin-bottom: 0;text-align: center;">
    <nb-card-header style="color: white;background: #4aa3df;"> NOTIFICATION PREVIEW       
    </nb-card-header>     
    <nb-card-body style="overflow: hidden;">
      <div>
        <img src="../../../assets/images/phone.png" alt=""> 
      </div>     
    </nb-card-body>
</nb-card>
<nb-card size="medium" class="headings-card">
  <nb-card-header>
        NOTIFICATIONS LIST        
  </nb-card-header>
  <nb-card-body>
          <div  *ngFor="let noti of noti_List" >
            <a class="btn" (click)="onEdit(noti)" style="width: 100%;padding: 0;">
                <div  class="noti_list_title">
                    <p style="    margin-bottom: 5px;">{{noti.title}}</p>
                    <span style="font-size: 11px;">{{noti.body}}</span>
                </div>
            </a>
            <a class="btn" (click)="onDelete(noti.noti_ID)">
                <i class="fa fa-trash-o"></i>
            </a>
          </div> 

          <!-- <div   *ngFor="let noti of noti_List">
            <div  (click)="onEdit(noti)" style="width:100%;border:1px solid blue;    padding: 1em;">
                <p style="margin-bottom: 5px;">{{noti.title}}</p>
                <span style="font-size: 11px;">{{noti.body}}</span>
              <i class="fa fa-trash-o" (click)="onDelete(noti.noti_ID)" ></i>
            </div>
        </div> -->
  </nb-card-body>
</nb-card>